<h1>Login</h1>

<% if flash != nil%> 
<% flash.each do |type, msg| %>
  <div id="error_explanation">
    <%= msg %>
  </div>
<% end %>
<br>
<%end%>

<%= form_for :user do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Login" %>
<% end %>

<%=link_to "Login with GITHUB", '/auth/github'%><br>
<%=link_to "Login with GOOGLE", '/auth/google_oauth2'%>