<%if @trails_searched && !@trails_searched.empty? %>
<h2>Your Search Results:</h2>
<ul>
<%@trails_searched.each do |t| %>
<li><%=link_to t.name, trail_path(t)%></li>
<%end%>
</ul>
<%elsif @trails_searched && @trails_searched.empty?%>
<h2 id="no-results">No Matching Trails Found</h2>
<%end%>


<h1>Colorado Trails</h1>
<ul>
<%@trails.each do |t|%>
<li><%=link_to t.name, trail_path(t)%></li>
<%end%>
</ul>

<h2>Highest Rated Trails:</h2>

<ul>
<%@highest_rated.each do |t|%> 
<li><%=link_to t.name, trail_path(t)%> - Rating: <%=t.total_rating%></li>
<%end%>
</ul>
<h2>Most Popular Trails:</h2>
<ul>
<%@most_hiked.each do |t|%>
<li><%=link_to t.name, trail_path(t)%> - Number of hikes: <%=t.hikes.count%></li>
<%end%>
</ul>
<h2>Most Active Hikers:</h2>
<ul>
<%@most_user_hikes.each do |u|%>
<li><%=link_to u.name, user_hikes_path(u)%> - Number of hikes: <%=u.hikes.count%></li>
<%end%>
</ul>


<h2>Search for a Hike by Name</h2>
<%= form_tag(trails_path, method: "get") do %>
  <%= label_tag(:query, "Search:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<br><br><br>




  

