<h1>Trail Show Page</h1>

<%=@trail.name%><br>
Length: <%=@trail.length%><br>
Difficulty: <%=@trail.difficulty%><br>
Notes: <%=@trail.notes%><br>
Dogs allowed?: <%=@trail.dogs%><br>
<br>
Trail Reviews:
<ul>
<%@trail.hikes.each do |h|%>
<li><%=h.date.strftime("%B %d, %Y")%> - <%=link_to h.comments, trail_hike_path(@trail.id, h.id)%> - Hiker: <%=h.user.name%></li>
<%end%>
</ul>

<%if current_user.admin?%>
<%=link_to "Edit This Trail", edit_trail_path(@trail)%>
<%end%>