<!DOCTYPE html>
<html>
  <head>
    <title>HikeColorado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <body>
 
          <ul class="navbar">
            <%if !logged_in?%>
            <li class="navbar"><%=link_to "Login", login_path, class:"navbar"%></li>
            <li class="navbar"><%=link_to "Sign Up", signup_path, class: "navbar"%></li>
            <%else%>                        
            <li class="navbar"><%=link_to "HOME", '/', class: "navbar"%></li>
            <li class="logout"><%=link_to "Log Out", logout_path, method: "delete", class: "navbar" %></li>
            <li class="navbar"><%=link_to "All Trails", trails_path, class: "navbar"%></li> 
            <li class="navbar"><%=link_to "Submit a Hike", new_user_hike_path(current_user), class: "navbar"%></li>
              <%if current_user.admin?%>
              <li class="navbar"><%=link_to "Admin: Add a Trail", new_trail_path, class: "navbar"%></li>
              <%end%>
            <%end%>
          </ul>
        

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
